@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 75% 96%; /* Caramel White */
    --foreground: 24 9.8% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 9.8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 31 56% 52%; /* Caramel Brown */
    --primary-foreground: 30 9.1% 98%;
    --secondary: 30 5.9% 90%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 30 5.9% 90%;
    --muted-foreground: 24 9.8% 10%;
    --accent: 30 84% 68%; /* Light Caramel */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 5.9% 90%;
    --input: 30 5.9% 90%;
    --ring: 31 56% 52%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 24 9.8% 10%;
    --foreground: 0 0% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 24 9.8% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 31 56% 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 30 84% 68%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 31 56% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
